<h1>Feedback</h1>
<% if user_signed_in? %>
    <%= render 'feedback_form', feedback: :feedback %>
<% else %>
    <small>Login to give Feedback</small>
    <ul class="list-unstyled CTAs">
        <% if !user_signed_in? %>
            <li class="nav-item">
            <%= link_to 'Signup with email', new_user_registration_path, class: 'download' %>
            </li>
            <li class="nav-item">
            <%= link_to 'Login with email', new_user_session_path, class: 'article' %>
            </li>
            <li class="nav-item">
            <%= link_to '<button class="btn btn-google">Login with Google | <i class="fab fa-google"></i></button>'.html_safe, user_google_oauth2_omniauth_authorize_path %>
            </li>
        <% else %>
            <li class="nav-item">
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'download' %>
            </li>
            <li class="nav-item">
            <%= link_to current_user.email, edit_user_registration_path %>
            </li>
        <% end %>
    </ul>
<% end %>